<a href="https://colab.research.google.com/github/k3lvin-os/eda_gasoduto/blob/main/EDA_Gasoduto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [342]:
import pandas as pd
import numpy as np


df = pd.read_csv(
    'https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/arquivos-movimentacao-de-gas-natural-em-gasodutos-de-transporte/gn-janeiro-2021_rev1.csv',
     dtype= str,
     encoding='iso-8859-1', sep=';',
     )

In [343]:
#df.head(20)

In [344]:
df.shape

(2057, 44)

In [345]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057 entries, 0 to 2056
Data columns (total 44 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Código da Instalação de Transporte                     2057 non-null   object
 1   Nome da Instalação de Transporte                       2057 non-null   object
 2   Nome da Instalação de Gasoduto                         1746 non-null   object
 3   Código da Instalação de Gasoduto                       1746 non-null   object
 4   Tipo da Instalação do Gasoduto                         1746 non-null   object
 5   Nome do Município da Instalação de Gasoduto            1812 non-null   object
 6   Nome da UF da Instalação de Gasoduto                   1812 non-null   object
 7   Nome do Operador da Instalação de Gasoduto             2057 non-null   object
 8   Código do Operador da Instalação de Gasoduto           2057 non-null   object
 9   Nome do Carregador que usa a Instalação de Gasoduto    2057 non-null   object
 10  Código do Carregador que usa a Instalação de Gasoduto  2006 non-null   object
 11  Nome do Contrato da Instalação do Gasoduto             1640 non-null   object
 12  Nome da variável                                       2057 non-null   object
 13  01/01/2021                                             2057 non-null   object
 14  02/01/2021                                             2057 non-null   object
 15  03/01/2021                                             2057 non-null   object
 16  04/01/2021                                             2057 non-null   object
 17  05/01/2021                                             2057 non-null   object
 18  06/01/2021                                             2057 non-null   object
 19  07/01/2021                                             2057 non-null   object
 20  08/01/2021                                             2057 non-null   object
 21  09/01/2021                                             2057 non-null   object
 22  10/01/2021                                             2057 non-null   object
 23  11/01/2021                                             2057 non-null   object
 24  12/01/2021                                             2057 non-null   object
 25  13/01/2021                                             2057 non-null   object
 26  14/01/2021                                             2057 non-null   object
 27  15/01/2021                                             2057 non-null   object
 28  16/01/2021                                             2057 non-null   object
 29  17/01/2021                                             2057 non-null   object
 30  18/01/2021                                             2057 non-null   object
 31  19/01/2021                                             2057 non-null   object
 32  20/01/2021                                             2057 non-null   object
 33  21/01/2021                                             2057 non-null   object
 34  22/01/2021                                             2057 non-null   object
 35  23/01/2021                                             2057 non-null   object
 36  24/01/2021                                             2057 non-null   object
 37  25/01/2021                                             2057 non-null   object
 38  26/01/2021                                             2057 non-null   object
 39  27/01/2021                                             2057 non-null   object
 40  28/01/2021                                             2057 non-null   object
 41  29/01/2021                                             2057 non-null   object
 42  30/01/2021                                             2057 non-null   object
 43  31/01/2021                                             2057 non-null   object
dtypes: object(44)
memory usage: 707.2+ KB

In [346]:
def convert_string_column_to_float(df, column_name):
  treated_column = pd.to_numeric(df[column_name],errors='coerce')
  treated_column = treated_column.replace(np.nan, -1, regex=True)
  treated_column = treated_column.astype(float)
  return treated_column

In [347]:
def convert_string_column_to_integer(df, column_name):
  treated_column = pd.to_numeric(df[column_name],errors='coerce')
  treated_column = treated_column.replace(np.nan, -1, regex=True)
  treated_column = treated_column.astype(int)
  return treated_column

In [348]:
df['Código da Instalação de Transporte'] = convert_string_column_to_integer(df, 'Código da Instalação de Transporte')

In [349]:
assert any(df['Nome da Instalação de Transporte'].isnull()) == False

In [350]:
df['Nome da Instalação de Gasoduto'] = df['Nome da Instalação de Gasoduto'].fillna('')

In [351]:
df['Código da Instalação de Gasoduto'] = convert_string_column_to_integer(df, 'Código da Instalação de Gasoduto')

In [352]:
df['Tipo da Instalação do Gasoduto'] = df['Tipo da Instalação do Gasoduto'].fillna('')

In [353]:
df['Nome do Município da Instalação de Gasoduto'] = df['Nome do Município da Instalação de Gasoduto'].fillna('')

In [354]:
df['Nome da UF da Instalação de Gasoduto'] = df['Nome da UF da Instalação de Gasoduto'].fillna('')

In [355]:
df['Nome do Operador da Instalação de Gasoduto'] = df['Nome do Operador da Instalação de Gasoduto'].fillna('')

In [356]:
assert any(df['Código do Operador da Instalação de Gasoduto'].isnull()) == False

In [357]:
assert any(df['Nome do Carregador que usa a Instalação de Gasoduto'].isnull()) == False

In [358]:
df['Código do Carregador que usa a Instalação de Gasoduto'] = convert_string_column_to_integer(df, 'Código do Carregador que usa a Instalação de Gasoduto')

In [359]:
df['Nome do Contrato da Instalação do Gasoduto'] = df['Nome do Contrato da Instalação do Gasoduto'].fillna('')

In [360]:
df['Código do Carregador que usa a Instalação de Gasoduto'] = convert_string_column_to_integer(df, 'Código do Carregador que usa a Instalação de Gasoduto')

In [361]:
assert any(df['Nome do Carregador que usa a Instalação de Gasoduto'].isnull()) == False

In [362]:
df['Código do Carregador que usa a Instalação de Gasoduto'] = convert_string_column_to_integer(df, 'Código do Carregador que usa a Instalação de Gasoduto')

In [363]:
df['Nome do Contrato da Instalação do Gasoduto'] = df['Nome do Contrato da Instalação do Gasoduto'].fillna('')

In [364]:
for float_column_index in range(13, 44):
  df.iloc[:, float_column_index] =  pd.to_numeric( df.iloc[:, float_column_index].replace(',', '.', regex = True) )

In [365]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057 entries, 0 to 2056
Data columns (total 44 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Código da Instalação de Transporte                     2057 non-null   int64
 1   Nome da Instalação de Transporte                       2057 non-null   object
 2   Nome da Instalação de Gasoduto                         2057 non-null   object
 3   Código da Instalação de Gasoduto                       2057 non-null   int64
 4   Tipo da Instalação do Gasoduto                         2057 non-null   object
 5   Nome do Município da Instalação de Gasoduto            2057 non-null   object
 6   Nome da UF da Instalação de Gasoduto                   2057 non-null   object
 7   Nome do Operador da Instalação de Gasoduto             2057 non-null   object
 8   Código do Operador da Instalação de Gasoduto           2057 non-null   object
 9   Nome do Carregador que usa a Instalação de Gasoduto    2057 non-null   object
 10  Código do Carregador que usa a Instalação de Gasoduto  2057 non-null   int64
 11  Nome do Contrato da Instalação do Gasoduto             2057 non-null   object
 12  Nome da variável                                       2057 non-null   object
 13  01/01/2021                                             2057 non-null   float64
 14  02/01/2021                                             2057 non-null   float64
 15  03/01/2021                                             2057 non-null   float64
 16  04/01/2021                                             2057 non-null   float64
 17  05/01/2021                                             2057 non-null   float64
 18  06/01/2021                                             2057 non-null   float64
 19  07/01/2021                                             2057 non-null   float64
 20  08/01/2021                                             2057 non-null   float64
 21  09/01/2021                                             2057 non-null   float64
 22  10/01/2021                                             2057 non-null   float64
 23  11/01/2021                                             2057 non-null   float64
 24  12/01/2021                                             2057 non-null   float64
 25  13/01/2021                                             2057 non-null   float64
 26  14/01/2021                                             2057 non-null   float64
 27  15/01/2021                                             2057 non-null   float64
 28  16/01/2021                                             2057 non-null   float64
 29  17/01/2021                                             2057 non-null   float64
 30  18/01/2021                                             2057 non-null   float64
 31  19/01/2021                                             2057 non-null   float64
 32  20/01/2021                                             2057 non-null   float64
 33  21/01/2021                                             2057 non-null   float64
 34  22/01/2021                                             2057 non-null   float64
 35  23/01/2021                                             2057 non-null   float64
 36  24/01/2021                                             2057 non-null   float64
 37  25/01/2021                                             2057 non-null   float64
 38  26/01/2021                                             2057 non-null   float64
 39  27/01/2021                                             2057 non-null   float64
 40  28/01/2021                                             2057 non-null   float64
 41  29/01/2021                                             2057 non-null   float64
 42  30/01/2021                                             2057 non-null   float64
 43  31/01/2021                                             2057 non-null   float64
dtypes: float64(31), int64(3), object(10)
memory usage: 707.2+ KB

In [384]:
df.shape

(2057, 44)

In [385]:
for i in range(df.shape[0]):
  df['Mediana'] =  df.iloc[i, 13:df.shape[1]].median()

In [388]:
df['Mediana']

0       28.11
1       28.11
2       28.11
3       28.11
4       28.11
        ...
2052    28.11
2053    28.11
2054    28.11
2055    28.11
2056    28.11
Name: Mediana, Length: 2057, dtype: float64